<div class="mt-4">
  <div class="container">
    <div>
      <a href="/me/stored/courses">Course List</a>
      <h3>My courses trash</h3>
    </div>
    <table class="table table-striped mt-4">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Slug</th>
          <th scope="col" colspan="2">Thoi gian tao</th>
        </tr>
      </thead>
      <tbody>
        {{#each courses}}
          <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.title}}</td>
            <td>{{this.slug}}</td>
            <td>{{this.createdAt}}</td>
            <td>
              <a href="" class="btn btn-link btn-restore" data-id="{{this._id}}">Restore</a>
              <a
                href=""
                class="btn btn-link"
                data-id="{{this._id}}"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >Delete forever</a>
            </td>
          </tr>
        {{else}}
          <tr>
            <td colspan="5" class="text-center">
              Empty trash.
              <a href="/me/stored/courses">Course list</a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

</div>

{{! confirm delete course }}
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delele Course</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Are you sure to delete this course?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="btn-delete-course">Save
          changes</button>
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Close</button>
      </div>
    </div>
  </div>
</div>

<form name="delete-course-form" method="post"></form>
<form name="restore-course-form" method="post"></form>

<script>
  var courseId 
  var deleteForm = document.forms["delete-course-form"] 
  var restoreForm = document.forms["restore-course-form"] 
  var btnRestore = document.getElementsByClassName("btn-restore")

  var exampleModal = document.getElementById('exampleModal')
  exampleModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget
    courseId = button.getAttribute('data-id') 
  }) 

  var btnDeleteCourse = document.getElementById("btn-delete-course")
  btnDeleteCourse.addEventListener("click", function() { 
    deleteForm.action = "/courses/" + courseId + "/force?_method=DELETE" 
    deleteForm.submit() 
  })


  for (btn of btnRestore) {
    btn.addEventListener("click", function(e) {
      e.preventDefault()
      var courId = this.dataset.id
      restoreForm.action = "/courses/" + courId + "/restore?_method=PATCH" 
      restoreForm.submit() 
    })
  }
  
</script>